/* Estilos CSS */

        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #003366;
            color: #ffffff;
            padding: 20px;
            text-align: center;
        h1{
            color: #ffffff;
        }
        }
        
        

        header img {
            width: 50px;
            vertical-align: middle;
            margin: 0 10px;
        }
        .container {
            padding: 20px;
        }
        h1, h2 {
            color: #003366;
        }
        .experience, .education, .contact {
            background-color: #ffffff;
            margin: 20px 0;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .experience ul, .education ul {
            list-style-type: none;
            padding: 0;
        }
        .experience li, .education li {
            padding: 5px 0;
            color: #006699;
        }
        .contact {
            text-align: center;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        input, textarea {
            margin: 10px 0;
            padding: 10px;
            width: 80%;
            max-width: 400px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        button {
            background-color: #003366;
            color: #ffffff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        button:hover {
            background-color: #002244;
        }
        footer {
            background-color: #003366;
            color: #ffffff;
            text-align: center;
            padding: 10px;
            position: fixed;
            width: 100%;
            bottom: 0;
        }
        
        a.btn-third {
            color: #fff;
            background-color: #FF5722;
            padding: 5px 20px;
        }